.btn{

    &__jumbotron{

        &--darkBlue{
            color: #ffffff;
            background-color: $darkblue;
            border-color: $darkblue;
        }

        &:hover{
            color:$warningColor;
        }
    }
}
