.nav-justified__section--centered{
    padding-top: 50px;
}

.nav-pills__links--white{
    color: white;
}

.nav-pills__links--bordered{
    border: 2px;
    border-color: white;
    border-style: solid;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
    background-color: #EEEEEE;
    color: black;
}

.nav-item > a{
    color:$warningColor;
    font-size: 1.2em;
}
