<div class="row" *ngIf="apparel">
    <div class="col-md-12">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">{{apparel.name}}</h4>
          <h6 class="card-subtitle text-muted">{{apparel.price | currency:'CAD':true}}</h6>
        </div>
        <img class="card-img-top" data-src="{{apparel.imagePath}}" alt="Card image cap">
        <div class="card-block">
          <p class="card-text">{{apparel.description}}</p>
          <a href="#" class="btn btn-primary">Ajouter au pannier</a>
          <button class="btn btn-danger" (click)="goBack()">Back</button>
        </div>
      </div>
    </div>
</div>
