<div class="row">
  <div class="col-md-12">
    <div class="col-md-4" *ngFor="#apparel of apparels">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">{{apparel.name}}</h4>
          <h6 class="card-subtitle text-muted">{{apparel.price | currency:'CAD':true}}</h6>
        </div>
        <img class="card-img-top" data-src="{{apparel.imagePath}}" alt="Card image cap">
        <div class="card-block">
          <p class="card-text">{{apparel.description}}</p>
          <a href="#" class="card-link">Plus de détails</a>
          <a href="#" class="btn btn-primary">Ajouter au pannier</a>
        </div>
      </div>
    </div>
  </div>
</div>
